/* Intégration statique Netflix */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-height: 66px;
    padding: 10px;
}

.new {
display: flex;
justify-content: center;
align-items: center;
height: 22px;
width: 50px;
padding: 2px;
background-color: #E50914;
color: white;
border-radius: 17px;
font-size: 13px;
font-weight: 700;
}

.plans {
display: flex;
justify-content: center;
align-items: center;
padding-left: 20px;
font-size: 17px;
}

strong {
    padding-left: 2px;
    font-weight:900;
}

.learn {
display: flex;
justify-content: center;
align-items: center;
padding-left: 20px;
font-size: 15px;
}

section {
    display: flex;
    justify-content: center;
    color: white;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0)),
        linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0)), 
        url(Images/banner.png);
    position: relative;
}

.top {
    display: flex;
    justify-content:space-between;
    align-self: stretch;
    padding: 30px 56px;
    margin-top: 25px;
}

.logo {
    height: 45px;
    width: 166px;
}

.english {
    background-color: black;
    border: 1px solid white;
    color: white;
    height: 37px;
    width: 97px;
    padding: 9px 23px;
    border-radius: 3px;
    margin-right: 15px;
    font-size: 14px;
}

.sign-in {
    background-color: rgba(229, 9, 20, 1);
    border: none;
    color: white;
    height: 37px;
    width: 97px;
    
    border-radius: 3px;
    font-size: 17px;
}

.get-started {
    display: flex;
    flex-direction: column;
    padding: 170px 0px;
    justify-content: center;
    align-items: center;
}

h1 {
    max-width: 600px;
    max-height: 142px;
    flex-wrap: wrap;
    font-size: 62px;
    text-align: center;
}

.get-started p {
    padding: 15px;
}

.watch {
    max-width: 394px;
    max-height: 30px;
    font-size: 25px;
    text-align: center;
}

.ready {
    max-width: 610px;
    max-height: 21px;
    font-size: 18px;
    text-align: center;
}

.email {
    vertical-align: top;
    width: 500px;
    height: 50px;
    border: none;
    padding-left: 10px;
    margin-right: -3px;
}

.submit {
    vertical-align: top;
    width: 240px;
    height: 50px;
    border: none;
    margin: -4px, 0px, 4px, -4px;
    background-color:rgba(229, 9, 20, 1);
    color: white;
    font-size: 22px;
}

.features-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 530px;
}

.features-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 530px;
}

.features-text {
    margin: 0px 55px 0px;
    max-height: 167px;
    max-width: 595px;
}

.features-text h2 {
    max-width: 600px;
    max-height: 56px;
    font-size: 49px;
    font-weight: 500;
    margin:0px 0px 20px;
}

.features-text p {
    max-height: 92px;
    max-width: 480px;
    font-size: 26px;
}

.features-img {
    margin: 0px 55px 0px;
}

.divider {
    height: 5px;
    background-color: #2b2b2b;
}

.stranger-things-dl {

}

.stranger-things-float {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 6px;
    border: 2px solid #737373;
    background-color: black;
    max-width: 330px;
    height: 92px;
    border-radius: 12px;
    margin-left: 85px;
    margin-top: -130px;
}

.stranger-things-float img {
    max-width: 57px;
    max-height: 80px;
    margin-right: 15px;
}
.stranger-things-float h4{
    font-size: 15px;
    font-weight: 500;
    margin-right: 80px;
}

.stranger-things-float p {
    font-size: 13px;
    font-weight: 400;
    color: #0071EB;
    ;
}

footer {
        display: flex;
        align-items: center;
        color: #737373;
        height: 400px;
}

ul {
        list-style-type: none;
}