/* Intégration statique Netflix */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    background-color: #E50914;
    color: white;
    border-radius: 17px;
    font-size: 13px;
    font-weight: 700;
}

.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-size: 17px;
}

strong {
    padding-left: 2px;
    font-weight:900;
}

.learn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-size: 15px;
}

section {
    display: flex;
    justify-content: center;
    color: white;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0)),
        linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0)), 
        url(Images/banner.png);
    position: relative;
}

.top {
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-self: stretch;
    padding: 30px 56px;
    margin-top: 25px;
}

.logo {
    height: 50px;
}

.logo img {
    height: 100%;
    width: auto;
}

.liens {
    height: 100%;
}

.english {
    display: inline-block;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 9px 23px;
    border-radius: 3px;
    margin-right: 15px;
    font-size: 14px;
}

.sign-in {
    display: inline-block;
    background-color: rgba(229, 9, 20, 1);
    border: none;
    color: white;
    padding: 9px 23px;
    border-radius: 3px;
    font-size: 14px;
}

.get-started {
    display: flex;
    flex-direction: column;
    padding: 140px 0px;
    justify-content: center;
    align-items: center;
}

h1 {
    max-width: 600px;
    flex-wrap: wrap;
    font-size: 62px;
    text-align: center;
}

.get-started p {
    padding: 15px;
}

.watch {
    max-width: 394px;
    font-size: 25px;
    text-align: center;
}

.ready {
    max-width: 610px;
    font-size: 18px;
    text-align: center;
}

.email {
    vertical-align: top;
    width: 500px;
    height: 50px;
    border: none;
    padding-left: 10px;
    margin-right: -3px;
}

.submit {
    vertical-align: top;
    width: 240px;
    height: 50px;
    border: none;
    margin: -4px, 0px, 4px, -4px;
    background-color:rgba(229, 9, 20, 1);
    color: white;
    font-size: 22px;
}

.features-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.features-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.features-text {
    margin: 0px 55px 0px;  
    max-width: 595px;
}

.features-text h2 {
    max-width: 600px;
    font-size: 49px;
    font-weight: 500;
    margin:0px 0px 20px;
}

.features-text p {
    max-width: 480px;
    font-size: 26px;
}

.features-img {
    margin: 0px 55px 0px;
}

.divider {
    padding: 3px;
    background-color: #2b2b2b;
}

.stranger-things-dl {
    position: relative;
}

.stranger-things-float {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    border: 2px solid #737373;
    background-color: black;
    max-width: 330px;
    border-radius: 12px;
    left:50%;
    transform : translateX(-50%);
    bottom: 40px;
}

.stranger-things-float img {
    max-width: 57px;
    margin-right: 15px;
}

.stranger-things-float h4{
    font-size: 15px;
    font-weight: 500;
    margin-right: 80px;
}

.stranger-things-float p {
    font-size: 13px;
    font-weight: 400;
    color: #0071EB;
}

footer {
    padding: 50px 0px;
    font-size: 12px;
    font-weight: 400;
    color: #737373;
}

footer p {
   padding-bottom: 30px;
}

.site-map {
    margin: 0 auto;
    max-width: 800px;
}

.FAQ {
    display: flex;
    justify-content: space-between;
    gap: 60px 30px;
}

.liste {
    max-width: 25%;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.site-map button {
    margin-top: 30px;
    border: solid 1px #737373;
    color: #737373;
    background-color: black;
    padding: 7px 20px 7px; 
}